@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0px;
    padding: 0;
}

nav{
    font-family: sans-serif,'Varela Round';
    
}

nav ul{
    color: beige;
    display: flex; 
    list-style-type: none;
    height: 60px;
    background-color: black;
}

nav ul li{
    margin: 5px;
    padding: 2px;
}

.brand img{
    width: 60px;
    height: 70px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:large;
}
.container{
    min-height: 70vh;
    border-radius: 10px;
    color: white;
    background-image: url(spotifybgimg.jpg);
    display: flex;
    background-color: black;
    font-family: sans-serif,'Varela Round';
    width: 70%;
    margin: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}




.bottom{
    padding: 3px;
    position: sticky;
    background-color: black;
    border-radius: 5px;
    height: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    bottom: 0%;
}
.icons{
    margin: 1px;
    padding: 1px;
    size: 40vh;
}
#myProgressBar{
    width: 95vw;
    justify-content: center;
    padding: 5px;
    
    position: sticky;
  
}
.songItem{
    height: 50px;
    display: flex;
    background-color: transparent;
    width: 80%;
    margin: 12px;
    
    


}
.songItem img{
    

}